body
	margin 0
	background #fafafa
	.wrapper
		display flex
		.sidebar
			width 20%
		.mainContainer
			width 80%
			display flex
			.listWrapper
				width 20%
				height 100vh
				&:first-of-type
					border-left 1px solid grey
					border-right 1px solid grey
				&:not(:first-of-type)
					border-right 1px solid grey
		div.elemDrag
			background-color  #fff
			box-shadow  0 1px 4px rgba(0,0,0,.04)
			border  1px solid rgba(0,0,0,.09)
			border-radius  3px
			margin 10px
			font-family  'Montserrat', sans-serif
			font-size 14px
			word-wrap  break-word
			color #555
			line-height 1.58
			padding  15px
			border-top  4px solid green
			transition  all 0.3s